{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <title>{% block title %}{% endblock %} | WeCare</title>
  </head>

  <body>
    <header class="container">
      <div class="logo_box">
        <a href="{% url 'home' %}">
          <img class="logo_box__image" src="{% static 'images/logo.png' %}" alt="">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'about' %}">About us</a></li>
          <li><a href="{% url 'donate' %}">Donate</a></li>
          <li><a href="{% url 'pets' %}">Pets</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'adopt' %}">Adopt</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block home_template %}{% endblock %}
      {% block dogs_template %}{% endblock %}
      {% block about_template %}{% endblock %}
      {% block single_pet_template %}{% endblock %}
      {% block contact_template %}{% endblock %}
      {% block blog_template %}{% endblock  %}
    </main>
    <footer>
      <p>Become a volunteer</p>
      <p>Copyright &copy; 2024</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
